.env
/public/uploads/
/storage/uploads/
/storage/rate_limits/
/vendor/
node_modules/
.DS_Store
password_settings.json
password_resets.json
account_deletions.json
site_message.json
composer.lock
mail_errors.log
